body{
background-color: gray;
color: #fff;
padding: 10px;

}
.everything{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
#heading{
	float:center;
}
#image{
	float:center;
}
